<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.4.0-alpha0042" targetFramework="net48" developmentDependency="true" />
  <package id="EndianBinaryIO" version="1.1.2" targetFramework="net48" />
  <package id="Fody" version="6.5.2" targetFramework="net48" developmentDependency="true" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net48" />
  <package id="lioncs.ColorSlider" version="1.0.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0-preview.6.21352.12" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="6.0.0-preview.5.21301.5" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net48" />
  <package id="NAudio" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.0.1" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net48" />
  <package id="Sanford.Multimedia.Midi" version="6.6.2" targetFramework="net48" />
  <package id="ScintillaNet.SearchBox" version="1.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0-preview.5.21301.5" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net48" />
  <package id="VGAudio" version="2.2.1" targetFramework="net48" />
</packages>